
  table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    margin-top: 2rem
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;}

    button {
      background-color: #008CBA; 
      border: none;
      color: white;
      width: 25%;
      padding: 10px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 1rem
    }

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}