<input type="email" placeholder="My email" #account>
<button (click)="showMySubscription(account.value)">List Friends with Updates</button>
 

<div class="container" *ngIf="myFriends">
    <div class="row">
      <div class="col-12">
        <table>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">My Subscribed Friends</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of myFriends"> 
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" >
                </div>
              </td>
              <td>{{f}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>